<h1><%=@brewery.name%></h1>

 <% @brewery.brewery_reviews.each do |r| %>
   <%= link_to r.title, brewery_review_path(r) %> <br>
<%end%>

<br><br><%=link_to "Leave Review", new_brewery_brewery_review_path(@brewery) %>

