<h1><%=@breweryReview.title%></h1>
<br><br>

<%= @breweryReview.content %>

<br>
<br>

<%= link_to "All Brewery Reviews", brewery_reviews_path %>
<br>
<%= link_to "This Brewery", breweries_path(@breweryReview.title) %>